@font-face {
    font-family: 'Minion Pro';
    src: url('Minion\ Pro\ Regular.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Trajan Pro';
    src: url('Trajan\ Pro\ Regular.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}